html {
  font-size: 20px;
}

body {
  font-family: Arial, Meiryo, sans-serif;
  text-align: center;
}

.pink {
 color: rgb(255, 192, 203);
}

.blue {
  color: skyblue;
}

h1 {
  /*ここにGoogle Fonts情報を入れる*/
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /*Google Fonts以外の情報*/
  font-size: 2rem; font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px rgb(154, 108, 108);
  border-bottom: solid 3px rgb(115, 115, 114);
}

#basic {
  font-weight: bold;
}