#top {
  width: 800px;
  background-color:  #dcc9f4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px auto;
  text-align: center;
}
.top-child {
display: inline-block;
width: 20%;
background-color: #ffd9df;
text-align: center;
margin: 0 auto;
}
#middle {
  width: 800px;
  height: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px auto;
  background-color: #ffd9df;
}
#middle-child01 {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: 100px;
  position: absolute;
  background-color: #87ceeb;
}
#middle-child02 {
  width: 200px;
  height: 200px;
  margin-top: 300px;
  margin-left: 300px;
  position: absolute;
  background-color: #87ceeb;
}
#middle-child03 {
  width: 200px;
  height: 200px;
  margin-top: 500px;
  margin-left: 500px;
  position: absolute;
  background-color: #87ceeb;
}
#bottom {
  width: 800px;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px auto;
  background-color: #87ceeb;
}
#bottom-child01 {
  width: 400px;
  height: 100px;
  position: absolute;
  background-color: #e5dcf0;
}
#bottom-child02 {
  position: relative;
  top: 100px;
  left: 200px;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child0 {
  position: relative;
  top: 100px;
  left: 200px;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}